USE [master]
GO
/****** Object:  Database [FoodOrderDB]    Script Date: 6/3/2020 10:16:02 PM ******/
CREATE DATABASE [FoodOrderDB]
GO
USE [FoodOrderDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AssignPositions]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignPositions](
	[StaffID] [int] NOT NULL,
	[PositionID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Desc] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AssignPositions] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC,
	[PositionID] ASC,
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Banners]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Desc] [nvarchar](250) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Banners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookingLogs]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingLogs](
	[TransactionID] [nvarchar](128) NOT NULL,
	[Step] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Member] [int] NOT NULL,
	[PostJson] [nvarchar](max) NULL,
	[PartnerResult] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.BookingLogs] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC,
	[Step] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[FileScan] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Contracts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Desc] [nvarchar](550) NULL,
	[Phone] [nvarchar](50) NULL,
	[Mail] [nvarchar](150) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](550) NULL,
	[Member] [int] NOT NULL,
	[Rate] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Feedbacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HistoryPoints]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryPoints](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Member] [int] NOT NULL,
	[Point] [float] NOT NULL,
	[Desc] [nvarchar](850) NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.HistoryPoints] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HistoryVouchers]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryVouchers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Voucher] [nvarchar](max) NULL,
	[Member] [int] NOT NULL,
	[Product] [bigint] NOT NULL,
	[Bill] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[AmountReduced] [float] NOT NULL,
 CONSTRAINT [PK_dbo.HistoryVouchers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MemberLevels]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberLevels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Point] [float] NOT NULL,
	[Rank] [int] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Desc] [nvarchar](550) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MemberLevels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MemberReceiptInfos]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberReceiptInfos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Member] [int] NOT NULL,
	[Phone] [nvarchar](250) NULL,
	[FullName] [nvarchar](250) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MemberReceiptInfos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Members]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Address] [nvarchar](350) NULL,
	[Phone] [nvarchar](50) NULL,
	[Gender] [int] NOT NULL,
	[Mail] [nvarchar](150) NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[DateJoin] [datetime] NOT NULL,
	[Platform] [nvarchar](max) NULL,
	[BirthDay] [datetime] NULL,
	[Status] [bit] NOT NULL DEFAULT ((0)),
	[AccumulatedPoints] [float] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Members] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Desc] [nvarchar](350) NULL,
	[Content] [nvarchar](max) NULL,
	[ViewNumber] [int] NOT NULL,
	[MetaTitle] [nvarchar](60) NULL,
	[MetaDesc] [nvarchar](160) NULL,
	[MetaKeyword] [nvarchar](260) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Code] [nvarchar](250) NOT NULL,
	[Product] [bigint] NOT NULL,
	[Price] [float] NOT NULL,
	[Reduce] [float] NOT NULL,
	[Qty] [int] NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Code] ASC,
	[Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](250) NULL,
	[Date] [datetime] NOT NULL,
	[TypePayment] [int] NOT NULL,
	[StatusPayment] [int] NOT NULL,
	[StatusOrder] [int] NOT NULL,
	[Member] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[Reduce] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[DateUpdate] [datetime] NULL,
	[Vendor] [bigint] NOT NULL DEFAULT ((0)),
	[Receipt] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Positions]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Desc] [nvarchar](550) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Positions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategorys]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategorys](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Desc] [nvarchar](350) NULL,
	[Rank] [int] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategorys] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductFeedbacks]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductFeedbacks](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product] [bigint] NOT NULL,
	[Rate] [int] NOT NULL,
	[Comment] [nvarchar](850) NULL,
	[Files] [nvarchar](max) NULL,
	[Member] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ProductFeedbacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Desc] [nvarchar](350) NULL,
	[Content] [nvarchar](max) NULL,
	[Vendor] [int] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Category] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[IntendTime] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Rate] [float] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Desc] [nvarchar](350) NULL,
	[Content] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Limit] [int] NOT NULL,
	[StartAge] [int] NOT NULL,
	[EndAge] [int] NOT NULL,
	[Gender] [int] NOT NULL,
	[MemberLevel] [int] NOT NULL,
	[MemberPoint] [float] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Vendor] [bigint] NOT NULL DEFAULT ((0)),
	[Status] [bit] NOT NULL DEFAULT ((0)),
	[Code] [nvarchar](6) NULL,
 CONSTRAINT [PK_dbo.Promotions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Address] [nvarchar](350) NULL,
	[BirthDay] [datetime] NULL,
	[Phone] [nvarchar](50) NULL,
	[Gender] [int] NOT NULL,
	[Mail] [nvarchar](150) NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Staffs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VendorLevels]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorLevels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Level] [int] NOT NULL,
	[PostLimit] [int] NOT NULL,
	[Percentage] [float] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VendorLevels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VendorReplys]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorReplys](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Feedback] [bigint] NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.VendorReplys] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Address] [nvarchar](350) NULL,
	[Phone] [nvarchar](50) NULL,
	[Mail] [nvarchar](150) NULL,
	[TaxCode] [nvarchar](50) NULL,
	[Desc] [nvarchar](850) NULL,
	[ContractCode] [nvarchar](350) NULL,
	[Status] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Vendors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 6/3/2020 10:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[IsApplyOrder] [bit] NOT NULL,
	[AmountReduced] [int] NOT NULL,
	[PercentReduced] [float] NOT NULL,
	[DateUsed] [datetime] NULL,
	[IsUsed] [bit] NOT NULL,
	[Vendor] [bigint] NOT NULL DEFAULT ((0)),
	[Promotion] [bigint] NOT NULL DEFAULT ((0)),
	[Product] [nvarchar](max) NULL,
	[Receiver] [int] NOT NULL DEFAULT ((0)),
	[IsReceiver] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Vouchers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AssignPositions] ([StaffID], [PositionID], [DepartmentID], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, 2, 3, NULL, CAST(N'2020-05-13 17:12:08.753' AS DateTime), N'admin', CAST(N'2020-05-13 17:12:08.753' AS DateTime), N'admin', 1)
INSERT [dbo].[AssignPositions] ([StaffID], [PositionID], [DepartmentID], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, 1, 1, NULL, CAST(N'2020-05-13 17:12:23.227' AS DateTime), N'admin', CAST(N'2020-05-13 17:12:23.227' AS DateTime), N'admin', 1)
INSERT [dbo].[AssignPositions] ([StaffID], [PositionID], [DepartmentID], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, 2, 3, NULL, CAST(N'2020-05-15 11:34:52.127' AS DateTime), N'admin', CAST(N'2020-05-15 11:34:52.127' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([ID], [Avatar], [Desc], [Status]) VALUES (1, N'http://localhost:44351//Content/FileUploads/images/banner-1.jpg', N'Banner1', 1)
INSERT [dbo].[Banners] ([ID], [Avatar], [Desc], [Status]) VALUES (2, N'http://localhost:44351//Content/FileUploads/images/banner-2.jpg', N'Banner2', 1)
INSERT [dbo].[Banners] ([ID], [Avatar], [Desc], [Status]) VALUES (3, N'http://localhost:44351//Content/FileUploads/images/banner-3.jpg', N'Banner3', 1)
SET IDENTITY_INSERT [dbo].[Banners] OFF
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([ID], [Date], [Code], [FileScan], [Status], [Note]) VALUES (1, CAST(N'2020-04-23 14:30:00.000' AS DateTime), N'HD-235486957', N'HD-235486957', 1, N'Hợp đồng với nhà hàng Sơn Kê')
INSERT [dbo].[Contracts] ([ID], [Date], [Code], [FileScan], [Status], [Note]) VALUES (2, CAST(N'2020-05-11 10:39:10.827' AS DateTime), N'HD-568497562', N'HD-568497562', 1, N'Hợp đồng với nhà hàng Đồng Quê Bình Dương')
INSERT [dbo].[Contracts] ([ID], [Date], [Code], [FileScan], [Status], [Note]) VALUES (3, CAST(N'2020-05-11 11:01:07.190' AS DateTime), N'HD-568497563', N'/Content/FileUploads/files/Contract/1586049888.jpg', 1, N'Hợp đồng Thiên Sơn Quán - Tân Uyên')
SET IDENTITY_INSERT [dbo].[Contracts] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([ID], [Title], [Desc], [Phone], [Mail], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, N'R&D', N'Phòng nghiên cứu và phát triển hệ thống ứng dụng - web - app', N'0865975495', N'demo@gmail.com', CAST(N'2020-05-13 17:10:22.417' AS DateTime), N'admin', CAST(N'2020-05-13 17:10:22.417' AS DateTime), N'admin', 1)
INSERT [dbo].[Departments] ([ID], [Title], [Desc], [Phone], [Mail], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, N'Phòng nhân sự', N'Phòng nhân sự', N'0856945689', N'demo@gmail.com', CAST(N'2020-05-13 17:10:42.107' AS DateTime), N'admin', CAST(N'2020-05-13 17:10:42.107' AS DateTime), N'admin', 1)
INSERT [dbo].[Departments] ([ID], [Title], [Desc], [Phone], [Mail], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (3, N'Phòng điều hành', N'Phòng điều hành', N'0985858585', N'demo@gmail.com', CAST(N'2020-05-13 17:11:56.527' AS DateTime), N'admin', CAST(N'2020-05-13 17:11:56.527' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[MemberLevels] ON 

INSERT [dbo].[MemberLevels] ([ID], [Point], [Rank], [Name], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, 0, 1, N'Thành Viên', N'Thành viên cơ bản của hệ thống', CAST(N'2020-05-15 11:21:08.460' AS DateTime), N'admin', CAST(N'2020-05-15 11:26:54.130' AS DateTime), N'admin', 1)
INSERT [dbo].[MemberLevels] ([ID], [Point], [Rank], [Name], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, 10000, 2, N'Thành Viên Vàng', N'Thành viên bậc hai', CAST(N'2020-05-15 11:27:37.080' AS DateTime), N'admin', CAST(N'2020-05-15 11:29:26.530' AS DateTime), N'admin', 1)
INSERT [dbo].[MemberLevels] ([ID], [Point], [Rank], [Name], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (3, 500000, 3, N'Thành Viên Kim Cương', N'Thành viên bậc 3', CAST(N'2020-05-15 11:28:20.883' AS DateTime), N'admin', CAST(N'2020-06-03 21:03:48.713' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[MemberLevels] OFF
SET IDENTITY_INSERT [dbo].[MemberReceiptInfos] ON 

INSERT [dbo].[MemberReceiptInfos] ([ID], [Member], [Phone], [FullName], [Address]) VALUES (2, 4, N'0334555777', N'Tùng', N'Bình thuận 2, Thuận giao, Thuận an, Bình dương')
INSERT [dbo].[MemberReceiptInfos] ([ID], [Member], [Phone], [FullName], [Address]) VALUES (5, 4, N'0334666777', N'Tùng', N'KDC Thuan Giao - Thuan An - Binh DUong - Viet Nam')
INSERT [dbo].[MemberReceiptInfos] ([ID], [Member], [Phone], [FullName], [Address]) VALUES (6, 3, N'0925898898', N'Danh', N'VSIP 2A Mở Rộng, Vĩnh Tân, Tân Uyên, Bình Dương')
SET IDENTITY_INSERT [dbo].[MemberReceiptInfos] OFF
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([ID], [Name], [Address], [Phone], [Gender], [Mail], [Account], [Password], [DateJoin], [Platform], [BirthDay], [Status], [AccumulatedPoints]) VALUES (1, N'Phan Hưng', N'TDM - Bình Dương', N'0909909909', 1, N'phanhung@gmail.com', N'hungphan1758', N'123456', CAST(N'2020-04-02 00:00:00.000' AS DateTime), N'Web', CAST(N'1902-02-15 00:00:00.000' AS DateTime), 1, 255260)
INSERT [dbo].[Members] ([ID], [Name], [Address], [Phone], [Gender], [Mail], [Account], [Password], [DateJoin], [Platform], [BirthDay], [Status], [AccumulatedPoints]) VALUES (2, N'Lương Thế Thành', N'145 Đại Lộ Bình Dương, Thuận An, Bình Dương', N'0924356653', 1, N'thethanh8x@gmail.com', N'thethanh8x', N'thethanh123456', CAST(N'2020-05-21 16:43:58.150' AS DateTime), N'Web', CAST(N'1989-11-30 00:00:00.000' AS DateTime), 1, 106000)
INSERT [dbo].[Members] ([ID], [Name], [Address], [Phone], [Gender], [Mail], [Account], [Password], [DateJoin], [Platform], [BirthDay], [Status], [AccumulatedPoints]) VALUES (3, N'Công Danh', N'VSIP 2A Mở Rộng, Vĩnh Tân, Tân Uyên, Bình Dương', N'0925898898', 1, N'congdanh9x9x@gmail.com', N'congdanh9x', N'congdanh123', CAST(N'2020-05-21 22:45:28.593' AS DateTime), N'Web', CAST(N'1993-06-24 00:00:00.000' AS DateTime), 1, 1553290)
SET IDENTITY_INSERT [dbo].[Members] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
INSERT [dbo].[OrderDetails] ([Code], [Product], [Price], [Reduce], [Qty], [Total]) VALUES (N'1BLESFW2', 8, 260000, 0, 2, 520000)
INSERT [dbo].[OrderDetails] ([Code], [Product], [Price], [Reduce], [Qty], [Total]) VALUES (N'1BLESFW2', 9, 270000, 0, 2, 540000)
INSERT [dbo].[OrderDetails] ([Code], [Product], [Price], [Reduce], [Qty], [Total]) VALUES (N'1Z3G2A5R', 1, 350000, 0, 1, 350000)
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [Code], [Date], [TypePayment], [StatusPayment], [StatusOrder], [Member], [Amount], [Reduce], [Total], [DateUpdate], [Vendor], [Receipt]) VALUES (35, N'XG7Y27H3', CAST(N'2020-06-02 23:11:03.927' AS DateTime), 1, 1, 3, 3, 520000, 0, 520000, CAST(N'2020-06-02 23:11:03.927' AS DateTime), 6, 6)
INSERT [dbo].[Orders] ([ID], [Code], [Date], [TypePayment], [StatusPayment], [StatusOrder], [Member], [Amount], [Reduce], [Total], [DateUpdate], [Vendor], [Receipt]) VALUES (36, N'EUZFOIXD', CAST(N'2020-06-02 23:11:04.087' AS DateTime), 1, 1, 0, 3, 360000, 0, 360000, CAST(N'2020-06-02 23:11:04.087' AS DateTime), 4, 6)
INSERT [dbo].[Orders] ([ID], [Code], [Date], [TypePayment], [StatusPayment], [StatusOrder], [Member], [Amount], [Reduce], [Total], [DateUpdate], [Vendor], [Receipt]) VALUES (37, N'7KF8NWY', CAST(N'2020-06-02 23:11:04.093' AS DateTime), 1, 1, 0, 3, 2100000, 0, 2100000, CAST(N'2020-06-02 23:11:04.093' AS DateTime), 1, 6)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([ID], [Title], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, N'Trưởng phòng', N'Trưởng phòng của các phòng ban tương ứng', CAST(N'2020-05-13 17:08:29.533' AS DateTime), N'admin', CAST(N'2020-05-13 17:08:29.533' AS DateTime), N'admin', 1)
INSERT [dbo].[Positions] ([ID], [Title], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, N'CEO', N'Giám đốc điều hành', CAST(N'2020-05-13 17:08:44.610' AS DateTime), N'admin', CAST(N'2020-05-13 17:08:44.610' AS DateTime), N'admin', 1)
INSERT [dbo].[Positions] ([ID], [Title], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (3, N'Shiper', N'Nhân viên giao hàng', CAST(N'2020-05-13 17:08:53.810' AS DateTime), N'admin', CAST(N'2020-05-13 17:08:53.810' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[Positions] OFF
SET IDENTITY_INSERT [dbo].[ProductCategorys] ON 

INSERT [dbo].[ProductCategorys] ([ID], [Title], [Desc], [Rank], [Avatar], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, N'Món Ý', N'Món ăn kiểu Ý', 1, N'http://localhost:44351/Content/FileUploads/images/dm-1.jpg', CAST(N'2020-04-24 16:00:00.000' AS DateTime), N'admin', CAST(N'2020-05-12 23:02:52.817' AS DateTime), NULL, 1)
INSERT [dbo].[ProductCategorys] ([ID], [Title], [Desc], [Rank], [Avatar], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, N'Món Lẩu', N'Món Lẩu', 2, N'http://localhost:44351/Content/FileUploads/images/dm-2.jpg', CAST(N'2020-05-12 23:02:09.317' AS DateTime), NULL, CAST(N'2020-05-12 23:03:43.370' AS DateTime), NULL, 1)
INSERT [dbo].[ProductCategorys] ([ID], [Title], [Desc], [Rank], [Avatar], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (3, N'Món Nướng', N'Món Nướng', 3, N'http://localhost:44351/Content/FileUploads/images/dm-3.jpg', CAST(N'2020-05-12 23:04:50.317' AS DateTime), NULL, CAST(N'2020-05-12 23:04:50.317' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductCategorys] OFF
SET IDENTITY_INSERT [dbo].[ProductFeedbacks] ON 

INSERT [dbo].[ProductFeedbacks] ([ID], [Product], [Rate], [Comment], [Files], [Member], [Status], [Date]) VALUES (1, 1, 3, N'Có gì đó để comment', NULL, 1, 2, CAST(N'2020-05-02 19:30:00.000' AS DateTime))
INSERT [dbo].[ProductFeedbacks] ([ID], [Product], [Rate], [Comment], [Files], [Member], [Status], [Date]) VALUES (2, 2, 4, N'Có gì đó để comment', NULL, 1, 1, CAST(N'2020-05-02 19:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductFeedbacks] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Title], [Desc], [Content], [Vendor], [Avatar], [Category], [Price], [IntendTime], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status], [Rate]) VALUES (1, N'Mỳ Ý Couple', N'Mỳ ý couple dành cho những cặp đôi.', N'<p>Mỳ &Yacute; Couple</p>
', 1, N'http://localhost:44379/Content/FileUploads/images/1.jpg', 1, 350000, 120, CAST(N'2020-05-02 12:46:16.743' AS DateTime), N'1', CAST(N'2020-05-02 12:46:17.563' AS DateTime), N'1', 1, 5)
INSERT [dbo].[Products] ([ID], [Title], [Desc], [Content], [Vendor], [Avatar], [Category], [Price], [IntendTime], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status], [Rate]) VALUES (2, N'Mỳ Ý Van Đỏ', N'Sự kết hợp giữa hai nền văn hóa, mỳ Ý và rượu Van đỏ từ Pháp. Thơm ngon cực kỳ', N'<p>Đang cập nhật</p>
', 1, N'http://localhost:44379/Content/FileUploads/images/2(1).jpg', 1, 450000, 150, CAST(N'2020-05-02 15:15:42.563' AS DateTime), N'1', CAST(N'2020-05-02 15:15:42.563' AS DateTime), N'1', 1, 2)
INSERT [dbo].[Products] ([ID], [Title], [Desc], [Content], [Vendor], [Avatar], [Category], [Price], [IntendTime], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status], [Rate]) VALUES (3, N'Gà Nướng Muối Ớt', N'Gà nướng muối ớt thơm mê ly, cay cay, ngọt ngọt, dòn thơm', N'<p>đang cập nhật</p>
', 1, N'http://localhost:44379/Content/FileUploads/images/3.jpg', 3, 250000, 150, CAST(N'2020-05-16 21:48:20.157' AS DateTime), N'1', CAST(N'2020-05-16 21:48:20.200' AS DateTime), N'1', 1, 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([ID], [Title], [Avatar], [Desc], [Content], [StartDate], [EndDate], [Limit], [StartAge], [EndAge], [Gender], [MemberLevel], [MemberPoint], [Type], [Vendor], [Status], [Code]) VALUES (5, N'Khuyến mãi nhân ngày 30/4 - 1/5', N'http://localhost:44379/Content/FileUploads/images/2.jpg', N'Khuyến mãi nhân ngày 30/4 - 1/5', N'<p>Khuyến m&atilde;i nh&acirc;n ng&agrave;y 30/4 - 1/5</p>
', CAST(N'2020-05-05 00:00:00.000' AS DateTime), CAST(N'2020-05-06 00:00:00.000' AS DateTime), 100, 15, 35, -1, 1, 25, N'1|3|2|', 1, 1, N'LD20')
INSERT [dbo].[Promotions] ([ID], [Title], [Avatar], [Desc], [Content], [StartDate], [EndDate], [Limit], [StartAge], [EndAge], [Gender], [MemberLevel], [MemberPoint], [Type], [Vendor], [Status], [Code]) VALUES (6, N'Khuyến mãi mừng 2/9. Lễ quốc khánh', N'http://localhost:44379/Content/FileUploads/images/2.jpg', N'Khuyến mãi mừng 2/9. Lễ quốc khánh', N'<p>Khuyến m&atilde;i mừng 2/9. Lễ quốc kh&aacute;nh</p>
', CAST(N'2020-08-30 00:00:00.000' AS DateTime), CAST(N'2020-09-05 00:00:00.000' AS DateTime), 100, 15, 55, -1, 1, 35, N'1|3|5|', 1, 1, N'QK20')
INSERT [dbo].[Promotions] ([ID], [Title], [Avatar], [Desc], [Content], [StartDate], [EndDate], [Limit], [StartAge], [EndAge], [Gender], [MemberLevel], [MemberPoint], [Type], [Vendor], [Status], [Code]) VALUES (7, N'Khuyến mãi nhân dịp quốc tế thiếu nhi 1-6-2020', N'http://localhost:44379/Content/FileUploads/images/km-2.jpg', N'Khuyến mãi nhân dịp quốc tế thiếu nhi 1-6-2020', N'<p>đang cập nhật</p>
', CAST(N'2020-05-31 00:00:00.000' AS DateTime), CAST(N'2020-06-06 00:00:00.000' AS DateTime), 250, 15, 35, -1, 1, 1, N'1|', 6, 1, N'TN20')
SET IDENTITY_INSERT [dbo].[Promotions] OFF
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([ID], [Name], [Address], [BirthDay], [Phone], [Gender], [Mail], [Account], [Password], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, N'Quản trị viên', N'Main', NULL, N'Main', 1, N'Main', N'admin', N'admin', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Staffs] ([ID], [Name], [Address], [BirthDay], [Phone], [Gender], [Mail], [Account], [Password], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, N'Phan Hưng', N'Bình Dương - Việt Nam', CAST(N'1992-05-15 00:00:00.000' AS DateTime), N'0123789456', 1, N'hungphan@gmail.com', N'phanhung', N'123123', CAST(N'2020-05-13 16:08:58.837' AS DateTime), NULL, CAST(N'2020-05-13 16:19:09.643' AS DateTime), N'admin', 1)
INSERT [dbo].[Staffs] ([ID], [Name], [Address], [BirthDay], [Phone], [Gender], [Mail], [Account], [Password], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (3, N'Anh Tùng', N'Bình Dương - Việt Nam', CAST(N'1994-04-04 00:00:00.000' AS DateTime), N'0926854986', 1, N'tunganh@gmail.com', N'anhtung1410', N'123456', CAST(N'2020-05-13 16:20:00.833' AS DateTime), N'admin', CAST(N'2020-05-13 16:20:00.833' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[Staffs] OFF
SET IDENTITY_INSERT [dbo].[VendorLevels] ON 

INSERT [dbo].[VendorLevels] ([ID], [Level], [PostLimit], [Percentage], [Name], [Status]) VALUES (1, 1, 10, 15, N'Level 1', 1)
INSERT [dbo].[VendorLevels] ([ID], [Level], [PostLimit], [Percentage], [Name], [Status]) VALUES (2, 2, 30, 10, N'Level 2', 1)
SET IDENTITY_INSERT [dbo].[VendorLevels] OFF
SET IDENTITY_INSERT [dbo].[VendorReplys] ON 

INSERT [dbo].[VendorReplys] ([ID], [Date], [Feedback], [Comment]) VALUES (6, CAST(N'2020-05-03 01:41:03.583' AS DateTime), 1, N'Ok cám ơn bạn')
SET IDENTITY_INSERT [dbo].[VendorReplys] OFF
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([ID], [Name], [Address], [Phone], [Mail], [TaxCode], [Desc], [ContractCode], [Status], [Level], [Account], [Password]) VALUES (1, N'Nhà Hàng Gà Nướng Sơn Kê', N'131 Lý Thường Kiệt, P.6, Quận 3, TP. HCM', N'0248385649', N'sonkerestaurant@gmail.com', N'523498674', N'Nhà Hàng Gà Nướng Sơn Kê', N'HD-235486957', 1, 2, N'sonkehcm', N'123456')
INSERT [dbo].[Vendors] ([ID], [Name], [Address], [Phone], [Mail], [TaxCode], [Desc], [ContractCode], [Status], [Level], [Account], [Password]) VALUES (2, N'Nhà Hàng Đồng Quê', N'111 Lê Hồng Phong, P.Phú Hòa, Tp. Thủ Dầu Một, Bình Dương', N'0789756756', N'dongquequan@gmail.com', N'534685497', N'111 Lê Hồng Phong, P.Phú Hòa, Tp. Thủ Dầu Một, Bình Dương', N'HD-568497562', 1, 1, N'dongquebd', N'123456')
INSERT [dbo].[Vendors] ([ID], [Name], [Address], [Phone], [Mail], [TaxCode], [Desc], [ContractCode], [Status], [Level], [Account], [Password]) VALUES (3, N'Thiên Sơn Quán', N'35 DT746 Uyên Hưng, Tân Uyên, Bình Dương', N'0856789123', N'thiensonquan@gmail.com', N'536895423', N'Thiên Sơn Quán - Tân Uyên, Bình Dương', N'HD-568497563', 1, 2, N'thiensonquanbd', N'123456')
SET IDENTITY_INSERT [dbo].[Vendors] OFF
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([ID], [Code], [Type], [IsApplyOrder], [AmountReduced], [PercentReduced], [DateUsed], [IsUsed], [Vendor], [Promotion], [Product], [Receiver], [IsReceiver]) VALUES (102, N'QK20-b5to08rbs', 1, 0, 0, 10, NULL, 0, 1, 6, N'2|1|', 0, 0)
INSERT [dbo].[Vouchers] ([ID], [Code], [Type], [IsApplyOrder], [AmountReduced], [PercentReduced], [DateUsed], [IsUsed], [Vendor], [Promotion], [Product], [Receiver], [IsReceiver]) VALUES (103, N'QK20-d2o8mgxq0', 1, 0, 0, 10, NULL, 0, 1, 6, N'2|1|', 0, 0)
INSERT [dbo].[Vouchers] ([ID], [Code], [Type], [IsApplyOrder], [AmountReduced], [PercentReduced], [DateUsed], [IsUsed], [Vendor], [Promotion], [Product], [Receiver], [IsReceiver]) VALUES (104, N'QK20-1mofwynn6', 1, 0, 0, 10, NULL, 0, 1, 6, N'2|1|', 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
USE [master]
GO
