@model IEnumerable<FoodOrderSolution.Data.ViewModels.OrderView>
@{
    ViewBag.Title = "Confirm_Global";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <!-- Header  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-header">
        <div class="container-fluid">
            <button type="button" id="sidebarleftbutton" class="btn">
                <i class="fas fa-align-left"></i>
            </button>
            <div class="logo"><a href="/">PHAN HƯNG</a></div>
            <button type="button" id="sidebarrightbutton" class="btn">
                <i class="fas fa-shopping-cart"></i>
            </button>
        </div>
    </nav>
    <!-- .Header  -->
    <!-- Content Wrap  -->
    <div class="content-wrap">


        <div class="list-section">
            <div class="heading-page">
                Xác nhận thanh toán
            </div>
            <div class="wrap-list-rc" id="paid_form">
                <img src="~/Content/img/pay.png" />
                @if (ViewBag.StatusPayment != null)
                {
                    if ((bool)ViewBag.StatusPayment)
                    {
                        <p>Thanh toán thành công. Đơn hàng của bạn sẽ được xử lý nhanh nhất</p>
                    }
                    else
                    {
                        <p>Thanh toán thất bại. Vui lòng kiểm tra thông tin thanh toán, hoặc liên hệ hỗ trợ nếu sự cố nhiều lần</p>
                    }
                }
            </div>


        </div>
    </div>
    <!-- .Content wrap  -->
    <!-- Footer  -->
    <div class="footer">
        <div class="footer-heading">Kết nối với chúng tôi</div>
        <div class="socmed">
            <div class="socmed-line">
                <div class="socmed-item">
                    <a href="#" class="si-icon"> <i class="fab fa-facebook-f"></i></a>
                </div>
            </div>

            <div class="socmed-line">
                <div class="socmed-item">
                    <a href="#" class="si-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <div class="socmed-line">
                <div class="socmed-item">
                    <a href="#" class="si-icon"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

            <div class="socmed-line">
                <div class="socmed-item">
                    <a href="#" class="si-icon"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- .Footer  -->
</div>

